<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div id="login">
		<h2>Who are you?</h2>
		<input id="name" type="text" class="nickname" placeholder="Enter Nickname">
	</div>

	<div id="interface">
		<h1 id="welcome"></h1>
		<ul id="messages"></ul>
		<form>
			<input class="message" type="text" id="m" autocomplete="off">
			<button>Send</button>
		</form>
	</div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
